/*  About page CSS
===================================================================
* Flexbox is used on every container
* Parent container is always set to "display:flex"
  Then a direction is chosen "flex-direction: row or column"
* After establishing the parent container the children elements are
* aligned using flexbox and width percentages where necessary*/

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');  /* Import "Kaushan Script" google font */

body {
  font-family: Helvetica;  /* Helvetica for all type throughout site, except h1 tags */
  width: 100%;
}

h2 {
  text-transform: uppercase;  /* All subtitles set to uppercase throughout */
}

/* "mainImg" parent container holds large header image and title */
.mainImg {
  position: relative;
  width: 100%;
}

.mainImg img {
  width: 100%;
  border-bottom: 20px solid black;
}

/* "mainTitle" holds title and subtitle.  It is set to absolute positioning so it can float on top of the parent container, which is set to relative positioning */
.mainTitle {
  position: absolute;
  top: 50%;
  width: 100%;
  margin: 0;
  color: yellow;
  text-shadow: 6px 6px 8px black;
}

.mainTitle h1 {
  font-family: Kaushan Script;  /* Only place where Kaushan Script is used is h1 tags */
  text-transform: uppercase;
  font-size: 128px;
  margin: 0;
}

.mainTitle h2 {
  font-family: Helvetica;
  margin: 0;
  font-size: 32px;
}

.aboutContentSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em 8%;
}

.aboutContentSection p {
  text-align: left;
  font-size: 1.3em;
  line-height: 1.5em;
  margin: 0;
}

.rightImg {
  margin-left: 2em;
}

.AprilImg {
  margin-right: 2em;
}

.accompList {
  list-style: none;
  padding: 0;
}
