html, body {
  height: 100%;
  font-family: Helvetica;
}

.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  flex: 0 0 20px;
  padding: 0px;
}

.footerNav a {
  color: white;
  text-decoration: none;
}

.footerNav {
  display: flex;
  flex: auto;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 1em 8%;
  font-size: larger;
  background-color: #000000;
  color: white;
  text-decoration: none;
}
