html, body {
  height: 100%;
  font-family: Helvetica;
}

/*=========header.navContainer is entire navbar which consists of...
...row1 and row2.  Using flexbox, set row1 and row2 to justify center column direction*/
header.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  flex: 0 0 20px;
  padding: 0px;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row wrap;
  list-style: none;
  padding: 1em 8%;
  background-color: #000000;
  margin: 0;
  color: #FFFFFF;
  font-size: smaller;
}

.row1 a {
  color: white;
  text-decoration: none;
}

.row1column1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
  padding: 0;
  margin: 0;

}

.row1column2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.row1column2 li {
  margin-left: 1.5em;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  font-size: 30px;
  padding: .2em 8%;
  background-color: #FFFFFF;
  color: #000000;
  text-transform: uppercase;
  font-size: larger;
}

.row2 a {
  color: black;
  text-decoration: none;
  margin-left: 1.5em;
}

.row2column1 {
  display: flex;
  justify-content: flex-start;
}

.row2column1 li:last-child {
  margin-left: 1.5em;
}

.row2column2 {
  display: flex;
  justify-content: flex-end;
  padding-top: 1.8em;
}
