.PaymentButton {
  color:white;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  border-radius: 10px;
  background-color: blue;
}
.Modal {
  display: flex;
  border: 3px solid black;
  border-radius: 10px;
  z-index: 5;
  position: absolute;
  top: 70vh;
  height: 50vh;
  width: 50vw;
  opacity: 1;
  background-color: white;
  box-shadow: 10px 10px 5px #888888;
}
.ModalFormat {
  display: flex;
  align-items: center;
  justify-content: center;
}
.PaymentForm {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.PaymentSpice {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}
.PaymentSpice > h1 {
  font-size: 30px;
  color: white;
}
.PaymentSpice > img {
  height: 30%;
  width:30%;
}
.Selector {
  width: 50%;
}
.CloseButton {
  position:absolute;
  top: 2px;
  color:white;
  font-size: 16px;
  font-weight: bold;
  right: 2px;
  background-color: red
}
